<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body>


	<nav th:replace="fragments/nav"/>
	<div class="container">
	  <h2>Nueva incidencia</h2>
	  
	  <form class="form-horizontal" method="post" action="/addincidence" th:object="${Incidencia}" enctype="multipart/form-data">
	
		<div class="form-group">
	      <label class="control-label col-sm-2" for="name">Nombre:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="name" placeholder="Nueva incidencia" required="true" />
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="descripcion" placeholder="Descripción de la incidencia" required="true" />
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="localizacion.latitud">Latitud:</label>
	      <div class="col-sm-10">
	        <input type="number" class="form-control" name="localizacion.latitud" placeholder="2.02" required="true" />
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="localizacion.longitud">Longitud:</label>
	      <div class="col-sm-10">
	        <input type="number" class="form-control" name="localizacion.longitud" placeholder="2.02" required="true" />
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="etiquetas">Etiquetas:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="etiquetas" placeholder="Fuego, calor, bosque" required="true" />
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="camposLista">Campos:</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="camposLista" placeholder="temperatura/alta, peligro/alto"/>
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <label class="control-label col-sm-2" for="image">Imagen(Opcional):</label>
	      <div class="col-sm-10">          
	        <input type="file" name="image" accept=".jpg" />
	      </div>
	    </div>
	    
	    <input type="hidden" name="agenteAux.identificador" th:value="${agente.identificador}" />
	    <input type="hidden" name="agenteAux.password" th:value="${agente.password}" />
	    <input type="hidden" name="agenteAux.kind" th:value="${agente.kind}" />    
	    
	    
	
	    <div class="form-group">        
	      <div class="col-sm-offset-2 col-sm-10">
	        <button id="buttonSubmit" type="submit" class="btn btn-primary">Notificar</button>
	      </div>
	    </div>
	    
	  </form>
	  
	</div>

<footer th:replace="fragments/footer"/>

</body>
</html>
