<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>

	<nav th:replace="fragments/nav"/>
	
	
	<div class="container">
	
		<h2>Mis incidencias enviadas</h2>

		<div class="panel panel-default" th:each="incidencia : ${incidencias}">
		
			<div class="panel-heading" th:text="'Nombre:' + ${incidencia.name}">
				Título de la incidencia
			</div>
			
			<div class="panel-body" th:text="${'Descripcion:' + incidencia.descripcion}">
				Descripción de la incidencia
			</div>
			
			<div class="panel-body" th:text="${'Estado:' + incidencia.descripcion}">
				Estado de la incidencia
			</div>
			
			<div class="panel-body" th:if="${incidencia.urlMasInfo != null}">
				<img th:src="${'/fotossubidas/' + incidencia.id + '.jpg'}" +  th:alt="${incidencia.name}" />
			</div>
			
		</div>
		
	</div>
	
	<footer th:replace="fragments/footer" />
	
</body>
</html>